.company-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__instrument {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding-bottom: 1em;
  }

  &__container-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
  }
}
