<ng-container *ngIf="allCompanies$ | async; else loading">
  <div class="company-list__instrument">
    <company-filter (filterEvent)="applyFilter($event)" [types]="types" [industries]="industries"></company-filter>
    <company-sort (sortChange)="onSortChange($event)"></company-sort>
  </div>
  <company-item *ngFor="let company of sortList" [company]="company"/>
</ng-container>

<ng-template #loading>
  <div class="company-list__loader"></div>
  <div class="company-list__loader"></div>
  <div class="company-list__loader"></div>
</ng-template>
