<ng-container *ngIf="allCompanies$ | async; else loaderTemplate" class="company-list">
  <div class="company-list__instrument">
    <company-filter (filterEvent)="onFilterChange($event)" [types]="types" [industries]="industries"></company-filter>
    <company-sort (sortChange)="onSortChange($event)"></company-sort>
  </div>
  <div class="company-list__container-items">
    <company-item *ngFor="let company of filterList" [company]="company"/>
  </div>
  <div *ngIf="filterList?.length === 0" class="company-list__empty-list-message">
    No company was found for your queries
  </div>
</ng-container>

<ng-template #loaderTemplate>
  <loader/>
</ng-template>

