body {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Manrope", sans-serif;
  --main-color: #ff7300;
  --text-button-color: #fff;
  --middle-color: rgb(255, 170, 110);
  --bg-select: rgba(255, 130, 38, 0.18);
  --bg-select-hover: rgba(255, 180, 124, 0.43);
  --text-color: rgb(0, 0, 0);
  --input-color: rgba(58, 58, 58, 0.56);
}
