<ng-container *ngIf="company">
  <div class="company-detail">
    <img src="{{company.logo}}" alt="logo" class="company-detail__logotype"/>
    <div class="company-detail__information-block">
      <h2 class="company-detail__information-block-header">
        {{company.suffix}} "{{company.business_name}}"
      </h2>
      <div>
        <span class="company-detail__information-block-template">The motto of our company: </span>
        <span class="company-detail__information-block-phrase">«{{company.catch_phrase}}!»</span>
      </div>
      <div>
        <span class="company-detail__information-block-template">Industry: </span>
        <span class="company-detail__information-block-text">{{company.industry}}</span>
      </div>
      <div>
        <span class="company-detail__information-block-template">Contact us: </span>
        <span class="company-detail__information-block-text">{{company.phone_number}}</span>
      </div>
      <div>
        <span class="company-detail__information-block-template">We are located at: </span>
        <span class="company-detail__information-block-text">{{company.full_address}}</span>
      </div>
    </div>
  </div>
</ng-container>
