.company-detail {
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 3em;

  &__logotype {
    width: 30%;
  }

  &__information-block {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__information-block-header {
    font-size: 22px;
    color: var(--main-color);
    margin-top: -1em;
  }

  &__information-block-phrase {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: -1em;
    margin-bottom: 1em;
    font-style: italic;
  }

  &__information-block-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
  }

  &__information-block-template {
    font-size: 16px;
    color: var(--text-color);
  }
}
