.layout {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding-top: 5em;

  &__header {
    font-size: 26px;
    font-weight: 600;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  &__navigation-button {
    width: 20em;
    height: 2.5em;
    font-size: 20px;
    background-color: var(--main-color);
    color: var(--text-button-color);
    border-radius: 20px;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    &:hover {
      background-color: var(--middle-color);
      cursor: pointer;
    }
  }
}
