.company-sort {
  &__select {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    height: 40px;
    width: 200px;
    background-color: var(--bg-select);
    color: var(--main-color);
    border: var(--middle-color) 1px solid;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: var(--bg-select-hover);
    }
  }
}
